In [3]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(temperature=0.1, model="gpt-3.5-turbo-0125")
db = SQLDatabase.from_uri("sqlite:///movies.sqlite")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    verbose=True,
)

agent.invoke("Give me the 5 directors that have the highest grossing films.")

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``


directors, movies
Invoking: `sql_db_schema` with `directors, movies`



CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/


CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/
Invoking: `sql_db_query` with `SELECT directors.name, SUM(movies.revenue) AS total_gross FROM directors JOIN movies ON directors.id = movies.director_id GROUP BY directors.name ORDER BY total_gross DESC LIMIT 5`


[('Steven Spielberg', 9147393164), ('Peter Jackson', 6498642820), ('James Cameron', 5883569439), ('Michael Bay', 5832524638), ('Christopher Nolan', 4227483234)]The 5 directors with the highest grossing films are:

1. Steven Spielberg - Total Gross: $9,147,393,164
2. Peter Jackson - Total Gross: $6,498,642,820
3. James Cameron - Total Gross: $5,883,569,439
4. Michael Bay - Total Gross: $5,832,524,638
5. Christopher Nolan - Total Gross: $4,227,483,234

> Finished chain.

{'input': 'Give me the 5 directors that have the highest grossing films.',
 'output': 'The 5 directors with the highest grossing films are:\n\n1. Steven Spielberg - Total Gross: $9,147,393,164\n2. Peter Jackson - Total Gross: $6,498,642,820\n3. James Cameron - Total Gross: $5,883,569,439\n4. Michael Bay - Total Gross: $5,832,524,638\n5. Christopher Nolan - Total Gross: $4,227,483,234'}